#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #000000;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0px 30px;    
    margin-bottom: 30px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
  }
  
  .sidebar-list {
    padding: 0;
    list-style-type: none;
    color: #ffffff;
  }
  
  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    color: #ffffff;
  }
  
  .sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: #ffffff;
  }
  .icon {

    background-color: #ffffff;
   
  }

  .sidebar-list-item{
    color:aqua;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
  }
.icon{
    color: white;
}





  /* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  /* Apply a background color and set text color */
  .terms-and-conditions {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }

  .tac{
    text-align: center;
    
  }
  
  /* Style headings */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  /* Style paragraphs */
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  /* Add a border to separate sections */
  h2 + p {
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  
  /* Style links */
  a {
    color: #007bff;
    text-decoration: none; /* Remove underlines from links */
  }
  
  /* Style link on hover */
  a:hover {
    color:#0056b3;
}